@import"compass";
@import url(https://fonts.googleapis.com/css?family=Abel);

//font-family
$basefontfamily: "游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

//color
$basecolor: #FFFFFF;
$subcolor: #B0B0B0;
$keycolor: #757575;
$fontcolor: #4c4c4c;

//base
html{
    font-size: 62.5%;
}
body{
    color: $fontcolor;
    font-size: 1.4rem;
    font-family: $basefontfamily;
    line-height: 1.6;
    letter-spacing: 0.1em;
    background-color: $basecolor;
}
a{
    @include link-colors($keycolor,darken($keycolor,10%)lighten($keycolor,5%)darken($keycolor,10%));
    text-decoration: none;
}

//align
.text-center{
    text-align: center;
    font-weight: bold;
}

//font
.abel{
    font-family: Abel,sans-serif;
}
.uppercase{
    text-transform: uppercase;
}

//desktop
@media screen and(min-width: 769px){
    a{
        &:hover{
            text-decoration: underline;
        }
    }
}

header{
    .box{
        background-image: url(../images/Mizuho18116006_TP_V4.jpg);
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (min-width: 769px){
    header{
        .box{
        width: 100%;
        height: 500px;
        background-position: center center;
        }
    }
}

#texts{
    .container{
         @include display-flex;
        justify-content: space-between;
        @include flex-direction(column);
    }
    h2{
        font-size: 1.6rem;
        margin: 10% 0 5%;
        color: $subcolor;
    }
    .text-box{
        @include flex(1);
        font-size: 1.6rem;
         @include box-sizing(boder-box);
    }
    h3{
        width: 80%;
        height: 30px;
        margin: 0 auto;
        padding: 5px 0 0;
        color: $fontcolor;
        background-color: $subcolor;
    }
    p{
        width: 80%;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 40px 0 0px;
        color: $basecolor;
        background-color: $keycolor;
    }
}


//desktop
@media (min-width: 769px){
    
    //text-boxのdesktop
    #texts{
        .container{
            @include flex-direction(row);     // text-boxの横並び
          justify-content: space-between;
        }
        .text-box{
            margin: 0 10px;
        }
        .text-center{
            font-size: 2.4rem;
        }
    }
}


//footer
footer{
    background-color: $subcolor;
    height: 100px;
}
.button-text{
    h3{
        padding: 10px 0;
        margin-top: 20%;
    }
    .button{
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 5px 0;
        width: 200px;
        line-height: normal;
        color: #FFF;
        font-weight: bold;
        background-color: $keycolor;
        @extend .abel;
        @extend .uppercase;
        @include border-radius(4px);
    }
}

@media (min-width: 769spx){
        .button{
          &:hover{
            background-color: darken($keycolor,10%);
            text-decoration: none;
          }
        }
        .text-center{
            font-size: 2.4rem;
        }
}

